

.templates-container {
  display: flex;
  background: linear-gradient(to bottom, #007bff, #ffffff);
}

.sidebar-templates {
  // Adjust width as needed, consider using flexbox for responsiveness
}

.main-templates {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.centered-content {
  text-align: center;

  .search-bar {
    margin-top: 20px;
    width: 780px;
  }

  .template-categories {
    margin-top: 20px;

    button {
      margin: 0 10px;
      padding: 8px 16px;
      background-color: #f0f0f0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.template-image {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.imggg{
  transform:translate(-200px, 10px)
}

@media only screen and (max-width: 970px) {
  .templates-container {
    .sidebar-templates {
      flex: 0;
    }
    .main-templates {
      flex: 1;
    }
  }
}