.Home-skeleton {
  height: 100vh;
  width: 100vw;
}

.home-music-container {
  display: flex;
  background: linear-gradient(to bottom, #007bff, #ffffff);
}

.sidebar-home {
  /* Adjust width as needed, consider using flexbox for responsiveness */
  // width: 250px; /* Example width */
}

.main-home {
  width: 100%;
  flex: 1;
  display: grid;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}


.current-large-banner {
  position: relative; 
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;

  .search-bar {
    margin-top: 20px;
    width: 780px;
  }

  .small-svg {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
@media only screen and (max-width: 970px) {
  .home-music-container {
    .sidebar-home{
      flex: 0;
    }
    .main-home{
      flex: 1;
    }
  }
}

