.chatbot-boxreview{
    
    margin-top: 15px;
    background-color: #ffffff;
    padding:10px;
    border-radius: 20px;
    height: 80vh;
}

.buttonsdiv-review{
    margin-top: 15px;
    display: flex;
    justify-content:center;
    padding-left: 170px;
}